@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'

// Media queries
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 666px

// Colors
$primary ?= #fff
$secondary ?= #000
$accent ?= #ff0000

// Metrics
$padding = 10px
$kinetic = cubic-bezier(0.77, 0, 0.175, 1)

// CSS Reset
global-reset()

webfont('UniversLTStdBold', 'UniversLTStdBold', true, 'normal')

body,html
	width 100%
	-webkit-text-size-adjust 100%
	background $primary

html
	font-size 62.5%

body
	text-rendering optimizeLegibility
	font-family 'UniversLTStdBold', 'Helvetica', 'Arial', sans-serif
	font-smoothing()
	font-size 1.4rem

h1, h2
	text-transform uppercase
	margin-bottom 1em

p
	margin-bottom 1em
	line-height 120%

p:last-child
	margin-bottom 0

small
	text-transform uppercase
	font-size 1rem

.grid-item.lazy
	//transition(opacity, 250ms, ease)
	backface()
	opacity 0

.grid-item.lazy.lazyloaded
	opacity 1

::selection
	background $secondary
	
::-moz-selection
	background $secondary

*
	hideselect()
	box-sizing(border-box)

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

@keyframes rotate {
    100% {
        transform(rotate(360deg))
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    30% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px
    }
}

#loader
	overflow hidden
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary
	z-index 500
	.spinner
		width 50px
		height 50px
		align()
		.circular
			animation rotate 2s linear infinite
			height 100%
			transform-origin center center
			width 100%
			position absolute
			top 0
			bottom 0
			left 0
			right 0
			margin auto
			.path
				stroke $secondary
				stroke-dasharray 1, 200
				stroke-dashoffset 0
				animation dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite

header
	#site-title
		position fixed
		width 100%
		top 15px
		text-align center
		z-index 1000
		img
			display inline-block
			+below($sm)
				width 100px
	.menu-item
		transition(transform 1100ms $kinetic)
		position fixed
		left 0px
		width 100%
		text-align center
		z-index 900
		+above($sm + 1)
			height 51vh
		svg
			display inline-block
			height 100%
			fill $primary
			stroke $secondary
			stroke-width 4px
			+below($sm)
				height auto
				width 80%
	#menu-top
		top 0
		padding-top 13vh
		transform(translate3d(0,-105%,0))
		+below($sm)
			padding-top 35vh
	#menu-bottom
		bottom 0
		padding-bottom 13vh
		transform(translate3d(0,105%,0))
		+below($sm)
			padding-bottom 35vh

#container
	transition(all 500ms ease)
	transition-delay(900ms)
	opacity 1
	overflow hidden
	height 100vh
	width 100%

#target
	position relative

#proxy
	display none

#target
	width 400%
	div.column
		display block
		float left
		width 100vw
	div.view
		position relative
		min-height 200vh
		height 200vh
		overflow hidden
		//flexbox()
		//justify-content space-around
		//align-items center
		//flex-wrap wrap
		.grid-item
			//display block
			background-size cover
			background-position center
			background-repeat no-repeat
			//border 1px solid rgba(0,0,0,0.1)
		.grid-item.insta
			//filter(grayscale(1))
			text-align center
			img
				display inline-block
				max-width 100%
				max-height 100%
				align()
		.grid-item.insta:hover
			//filter(none)
		.grid-item.contain
			background-size contain
		.grid-item.cover
			background-size cover

#target.contain
	div.view
		.grid-item
			background-size contain

#target.contain.repeat
	div.view
		.grid-item
			background-repeat repeat

#target.outlines
	div.view
		.grid-item
			border 1px solid rgba(0,0,0,0.2)

footer
	text-transform uppercase
	position fixed
	width 100%
	bottom 15px
	text-align center
	z-index 100
	padding 0 15px
	flexbox()
	justify-content center
	align-items center
	div
		margin 0 .7em

body.menu-visible
	#container
		transition-delay(0ms)
		//opacity 0
		//visibility hidden
	#menu-top, #menu-bottom
		transition-delay(400ms)
		transform(translate3d(0,0%,0))
	.menu-item:hover
		svg
			fill $secondary

body.loading
	#container
		transition-delay(0ms)
		opacity 0
		visibility hidden
	#menu-top
		transition-delay(0)
		transform(translate3d(0,-105%,0))
	#menu-bottom
		transition-delay(0)
		transform(translate3d(0,105%,0))

body.home
	#choose
		margin-top 2em
		text-align center
		.menu-item:not(:first-child)
			margin-top -.5rem
		.menu-item
			display inline-block
			width 80%
			svg
				width 100%
				stroke-width 2px
				stroke $secondary
				fill $primary
		.menu-item:hover
			svg
				fill $secondary
	#container
		flexbox()
		justify-content center
		align-items center
		.inner
			width 50%

body.page
	#container
		overflow auto
		.inner
			padding 20rem 25%
			
#outdated
	display none
	text-align center
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary
	z-index 600
	a
		border-bottom 1px solid
	.inner
		padding 20rem 25%

.no-js, .no-svg, .no-flexbox, no-csstransforms3d
	#outdated
		display block